.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.second {
    display: flex;
    gap: 20px;
}

ul {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #424242;
}

.g {
    color: #5A47AB;
}

li {
    font-size: 15px !important;
}

select {
    border: none;
}